* {
  box-sizing: border-box;
  line-height: 1;
}

.camp-detail {
  width: 1100px;
  margin: auto;
}

.back {
  display: block;
  font-size: 18px;
  margin: 30px 0;
  color: #00b4c5;
  text-decoration: none;
}

.header {
  width: 485px;
  height: 25px;
  font-size: 18px;
  color: #000000;
  font-weight: normal;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  width: 485px;
  line-height: 20px;
  font-size: 14px;
  color: #686868;
  margin: 15px 0;
}

.main {
  display: flex;
  justify-content: space-between;
}

.mission-list {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mission-ticket {
  margin-top: 15px;
  margin-bottom: 15px;
}

.student-list {

}

.student-item {
  margin: 20px 0;
}
